body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #f4f4f9;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #316cbd;
}

.login-container {
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.header h2 {
  color: #316cbd;
  font-size: 24px;
}

form label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  text-align: left;
}

form label span {
  color: red;
}

form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.password-container {
  position: relative;
}

.password-container input {
  width: calc(95% - 1px);
}

.password-container .toggle-password {
  position: absolute;
  right: 15px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #333;
}

.forgot-password {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: #316cbd;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #316cbd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #265a9d;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
}

.signup a {
  color: #316cbd;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: underline;
}
